* {
    color: white;
    font-family: "Roboto", serif;
}

button {
    color: rebeccapurple;
    font-size: 50px;
    margin: 5px;
    border-radius: 15px;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .gameContainer {
    text-align: center; /* Center the text inside the container */
    border: 5px solid white;
    border-radius: 15px;
    max-width: 90%;
  }
  
  .computer-answer {
    font-size: 50px;
    font-weight: 200px;
}
